<h1>Welcome to LifeGame!</h1>
<p class="lead">Game of Life with Stimulus JS.</p>
<%= content_tag(:div, nil, data: {
    controller: "life",
}) do %>
  <%= content_tag(:canvas, nil, data: {
        life_target: "canvas"
    }) %>
  <br />
  <%= button_tag "Start", data: { action: "click->life#start" }, id: "start_button", class: "btn btn-primary mt-2" %>
  <%= button_tag "Clear", data: { action: "click->life#clear" }, class: "btn btn-warning mt-2" %>
  <%= button_tag "Random", data: { action: "click->life#random"}, class: "btn btn-success mt-2"%>
<% end %>